{% extends 'core/header.html' %}
{% block content %}
{% load static %}

{% load render_table from django_tables2 %}
{% load i18n %}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h3>Lista de Autores</h3>
        </div>

        <div class="col-lg-6">
            <a class="btn btn-success float-right" href="{% url 'create_authors' %}">
                Agregar autor
            </a>
        </div>
    </div>

    {% if table.rows %}
    <div class="table-responsive">
        {% block table %}
            {% render_table table %}
        {% endblock table %}
    </div>
    {% else %}
        <div class="alert alert-info text-center mt-4 shadow-sm rounded">
            <i class="bi bi-info-circle-fill"></i> No hay registros para mostrar.
        </div>
    {% endif %}
</div>

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/css/custom-table.css' %}">
{% endblock extra_css %}
{% endblock %}